.golden_card {
  background: linear-gradient(0deg, #c1a875, #c1a875),
    linear-gradient(339.03deg, rgba(255, 255, 255, 0) 52.79%, #ffffff 95.95%),
    linear-gradient(
      76.82deg,
      #576265 11.6%,
      #9ea1a1 25.31%,
      #848b8a 48.06%,
      #576265 55.72%,
      #576265 77.23%,
      #757a7b 85.34%,
      #576265 91.31%
    ),
    linear-gradient(
      76.82deg,
      #576265 11.6%,
      #9ea1a1 25.31%,
      #848b8a 48.06%,
      #576265 55.72%,
      #576265 77.23%,
      #757a7b 85.34%,
      #576265 91.31%
    ),
    linear-gradient(
      290.3deg,
      #a1a1a1 16.54%,
      #f0f0f0 30.7%,
      #e4e4e4 55.82%,
      #d5d5d5 85.91%,
      #dfdfdf 94.21%
    ),
    #323232;
  background-blend-mode: color, overlay, normal, normal, normal, normal;
  border-radius: 29.0404px 29.0404px 0px 0px;
}

.platinum_card {
  background: linear-gradient(0deg, #ffffff, #ffffff),
    linear-gradient(0deg, #cdc9c2, #cdc9c2),
    linear-gradient(339.03deg, rgba(255, 255, 255, 0) 52.79%, #ffffff 95.95%),
    linear-gradient(
      76.82deg,
      #576265 11.6%,
      #9ea1a1 25.31%,
      #848b8a 48.06%,
      #576265 55.72%,
      #576265 77.23%,
      #757a7b 85.34%,
      #576265 91.31%
    ),
    linear-gradient(0deg, #c1a875, #c1a875),
    linear-gradient(339.03deg, rgba(255, 255, 255, 0) 52.79%, #ffffff 95.95%),
    linear-gradient(
      76.82deg,
      #576265 11.6%,
      #9ea1a1 25.31%,
      #848b8a 48.06%,
      #576265 55.72%,
      #576265 77.23%,
      #757a7b 85.34%,
      #576265 91.31%
    ),
    linear-gradient(
      76.82deg,
      #576265 11.6%,
      #9ea1a1 25.31%,
      #848b8a 48.06%,
      #576265 55.72%,
      #576265 77.23%,
      #757a7b 85.34%,
      #576265 91.31%
    ),
    linear-gradient(
      290.3deg,
      #a1a1a1 16.54%,
      #f0f0f0 30.7%,
      #e4e4e4 55.82%,
      #d5d5d5 85.91%,
      #dfdfdf 94.21%
    ),
    #323232;
  background-blend-mode: color, color, overlay, normal, color, overlay, normal,
    normal, normal, normal;
  border-radius: 29.0404px 29.0404px 0px 0px;
}

.diamond_card {
  background: linear-gradient(0deg, #4542af, #4542af),
    linear-gradient(339.03deg, rgba(255, 255, 255, 0) 52.79%, #ffffff 95.95%),
    linear-gradient(
      76.82deg,
      #576265 11.6%,
      #9ea1a1 25.31%,
      #848b8a 48.06%,
      #576265 55.72%,
      #576265 77.23%,
      #757a7b 85.34%,
      #576265 91.31%
    ),
    linear-gradient(0deg, #ffffff, #ffffff),
    linear-gradient(0deg, #cdc9c2, #cdc9c2),
    linear-gradient(339.03deg, rgba(255, 255, 255, 0) 52.79%, #ffffff 95.95%),
    linear-gradient(
      76.82deg,
      #576265 11.6%,
      #9ea1a1 25.31%,
      #848b8a 48.06%,
      #576265 55.72%,
      #576265 77.23%,
      #757a7b 85.34%,
      #576265 91.31%
    ),
    linear-gradient(0deg, #c1a875, #c1a875),
    linear-gradient(339.03deg, rgba(255, 255, 255, 0) 52.79%, #ffffff 95.95%),
    linear-gradient(
      76.82deg,
      #576265 11.6%,
      #9ea1a1 25.31%,
      #848b8a 48.06%,
      #576265 55.72%,
      #576265 77.23%,
      #757a7b 85.34%,
      #576265 91.31%
    ),
    linear-gradient(
      76.82deg,
      #576265 11.6%,
      #9ea1a1 25.31%,
      #848b8a 48.06%,
      #576265 55.72%,
      #576265 77.23%,
      #757a7b 85.34%,
      #576265 91.31%
    ),
    linear-gradient(
      290.3deg,
      #a1a1a1 16.54%,
      #f0f0f0 30.7%,
      #e4e4e4 55.82%,
      #d5d5d5 85.91%,
      #dfdfdf 94.21%
    ),
    #323232;
  background-blend-mode: color, overlay, normal, color, color, overlay, normal,
    color, overlay, normal, normal, normal, normal;
  border-radius: 29.0404px 29.0404px 0px 0px;
}

.emerald_card {
  background: linear-gradient(0deg, #75c062, #75c062),
    linear-gradient(339.03deg, rgba(255, 255, 255, 0) 52.79%, #ffffff 95.95%),
    linear-gradient(
      76.82deg,
      #576265 11.6%,
      #9ea1a1 25.31%,
      #848b8a 48.06%,
      #576265 55.72%,
      #576265 77.23%,
      #757a7b 85.34%,
      #576265 91.31%
    ),
    linear-gradient(0deg, #ffffff, #ffffff),
    linear-gradient(0deg, #cdc9c2, #cdc9c2),
    linear-gradient(339.03deg, rgba(255, 255, 255, 0) 52.79%, #ffffff 95.95%),
    linear-gradient(
      76.82deg,
      #576265 11.6%,
      #9ea1a1 25.31%,
      #848b8a 48.06%,
      #576265 55.72%,
      #576265 77.23%,
      #757a7b 85.34%,
      #576265 91.31%
    ),
    linear-gradient(0deg, #c1a875, #c1a875),
    linear-gradient(339.03deg, rgba(255, 255, 255, 0) 52.79%, #ffffff 95.95%),
    linear-gradient(
      76.82deg,
      #576265 11.6%,
      #9ea1a1 25.31%,
      #848b8a 48.06%,
      #576265 55.72%,
      #576265 77.23%,
      #757a7b 85.34%,
      #576265 91.31%
    ),
    linear-gradient(
      76.82deg,
      #576265 11.6%,
      #9ea1a1 25.31%,
      #848b8a 48.06%,
      #576265 55.72%,
      #576265 77.23%,
      #757a7b 85.34%,
      #576265 91.31%
    ),
    linear-gradient(
      290.3deg,
      #a1a1a1 16.54%,
      #f0f0f0 30.7%,
      #e4e4e4 55.82%,
      #d5d5d5 85.91%,
      #dfdfdf 94.21%
    ),
    #323232;
  background-blend-mode: color, overlay, normal, color, color, overlay, normal,
    color, overlay, normal, normal, normal, normal;
  border-radius: 29.0404px 29.0404px 0px 0px;
}
.silver_card {
  background: linear-gradient(0deg, #cdc9c2, #cdc9c2),
    linear-gradient(339.03deg, rgba(255, 255, 255, 0) 52.79%, #ffffff 95.95%),
    linear-gradient(
      76.82deg,
      #576265 11.6%,
      #9ea1a1 25.31%,
      #848b8a 48.06%,
      #576265 55.72%,
      #576265 77.23%,
      #757a7b 85.34%,
      #576265 91.31%
    ),
    linear-gradient(0deg, #c1a875, #c1a875),
    linear-gradient(339.03deg, rgba(255, 255, 255, 0) 52.79%, #ffffff 95.95%),
    linear-gradient(
      76.82deg,
      #576265 11.6%,
      #9ea1a1 25.31%,
      #848b8a 48.06%,
      #576265 55.72%,
      #576265 77.23%,
      #757a7b 85.34%,
      #576265 91.31%
    ),
    linear-gradient(
      76.82deg,
      #576265 11.6%,
      #9ea1a1 25.31%,
      #848b8a 48.06%,
      #576265 55.72%,
      #576265 77.23%,
      #757a7b 85.34%,
      #576265 91.31%
    ),
    linear-gradient(
      290.3deg,
      #a1a1a1 16.54%,
      #f0f0f0 30.7%,
      #e4e4e4 55.82%,
      #d5d5d5 85.91%,
      #dfdfdf 94.21%
    ),
    #323232;
  background-blend-mode: color, overlay, normal, color, overlay, normal, normal,
    normal, normal;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 29.0404px 29.0404px 0px 0px;
}

/* Check box */
.custom-checkbox {
  position: relative;
  display: inline-block;
}

.custom-checkbox input[type="checkbox"] {
  display: none;
}

.custom-checkbox .checkbox-mark {
  position: relative;
  display: inline-block;
  width: 20px;
  height: 20px;
  background: #eee;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.custom-checkbox .checkbox-mark::after {
  content: "";
  position: absolute;
  display: none;
  top: 0px;
  left: 4px;
  width: 10px;
  height: 18px;
  border: solid white;
  border-width: 0 4px 4px 0;
  transform: rotate(45deg);
}

.custom-checkbox input[type="checkbox"]:checked + .checkbox-mark {
  background: #efb873;
}

.custom-checkbox input[type="checkbox"]:checked + .checkbox-mark::after {
  display: block;
}

/* Betting button */
.backLay_main_button {
  display: flex;
  /* width: 192px; */
  width: 48%;
  height: 48px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  border-radius: 9px;
  border: 2px;
  background: #33333c;
  border-color: #33333c;
  border-style: outset;
  justify-content: space-between;
}

.backLay_side_button {
  content: "+";
  display: flex;
  width: 38px;
  height: 45px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  color: white;
  border-radius: 8px;
  background: #414149;
  border-color: #414149;
  border-style: outset;
}
/* Betting Button */

/* Toast Wrapper */

.toast_wrapper {
  position: fixed;
  top: 3rem;
  padding: 8px;
  height: 3rem;
  background-color: #000;
  transition: right 2s ease-in-out;
  z-index: 10;
  border-radius: 8px;
  /* background: linear-gradient(
    303deg,
    rgba(25, 24, 30, 0.11) 0%,
    rgba(29, 28, 34, 0.11) 31.54%,
    rgba(199, 198, 228, 0.11) 73.22%,
    rgba(223, 223, 223, 0.11) 100%
  ); */
  backdrop-filter: blur(2.5px);
}
.open_toast {
  right: 0px;
}
.close_close {
  right: -300px;
  overflow: hidden;
}

/* Toast Wrapper */

/* IDS ROLLER */

.lds-roller {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-roller div {
  animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  transform-origin: 40px 40px;
}
.lds-roller div:after {
  content: " ";
  display: block;
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: red;
  margin: -8px 0 0 -8px;
}
.lds-roller div:nth-child(1) {
  animation-delay: -0.036s;
}
.lds-roller div:nth-child(1):after {
  top: 63px;
  left: 63px;
}
.lds-roller div:nth-child(2) {
  animation-delay: -0.072s;
}
.lds-roller div:nth-child(2):after {
  top: 68px;
  left: 56px;
}
.lds-roller div:nth-child(3) {
  animation-delay: -0.108s;
}
.lds-roller div:nth-child(3):after {
  top: 71px;
  left: 48px;
}
.lds-roller div:nth-child(4) {
  animation-delay: -0.144s;
}
.lds-roller div:nth-child(4):after {
  top: 72px;
  left: 40px;
}
.lds-roller div:nth-child(5) {
  animation-delay: -0.18s;
}
.lds-roller div:nth-child(5):after {
  top: 71px;
  left: 32px;
}
.lds-roller div:nth-child(6) {
  animation-delay: -0.216s;
}
.lds-roller div:nth-child(6):after {
  top: 68px;
  left: 24px;
}
.lds-roller div:nth-child(7) {
  animation-delay: -0.252s;
}
.lds-roller div:nth-child(7):after {
  top: 63px;
  left: 17px;
}
.lds-roller div:nth-child(8) {
  animation-delay: -0.288s;
}
.lds-roller div:nth-child(8):after {
  top: 56px;
  left: 12px;
}
@keyframes lds-roller {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* IDS ROLLER */

/* Shemmer effect */
.shimmer-wrapper {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
}

.shimmer {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(
    to right,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.1) 20%,
    rgba(0, 0, 0, 0.2) 40%,
    rgba(0, 0, 0, 0) 100%
  );
  animation: shimmerAnimation 1.5s infinite;
}

@keyframes shimmerAnimation {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}

/* Shemmer effect */

/* match card skeleton */
.match_card_skeleton {
  border-radius: 8px;
  backdrop-filter: blur(1.5px);
}

.skeleton {
  animation: skeleton-loading 2s linear infinite alternate;
}
.bet-amount {
  animation: bet-amount-loading 2s linear infinite alternate;
}

@keyframes skeleton-loading {
  0% {
    background-color: hsla(45, 12%, 13%, 0.849);
  }
  100% {
    background-color: hsl(105, 5%, 15%);
  }
}
@keyframes bet-amount-loading {
  0% {
    background-color: hsla(204, 20%, 95%, 0.38);
  }
  100% {
    background-color: hsla(194, 45%, 78%, 0.054);
  }
}
/* match card skeleton */

/* Sleeted */
.multiple-select {
  display: flex;
  flex-direction: column;
}

.selected-options {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 50%px;
}

.option-chip {
  background-color: #e0e0e0;
  color: #333;
  padding: 4px 8px;
  border-radius: 4px;
  margin-right: 8px;
  margin-bottom: 8px;
  cursor: pointer;
}

.options-dropdown {
  width: 100%;
  padding: 4px;
  margin-bottom: 8px;
  background-color: transparent;
}

/* dksfsdafsa */

/* Over lay lock */
.card_overlay {
  z-index: 9999;
  width: 100vw;
  height: 6rem;
  position: absolute;
  top: -5px;
  background: rgba(0, 0, 0, 0.194);
  display: flex;
  justify-content: center;
  align-items: center;
}
.locked_card_lock {
  display: flex;
  background-color: #252530ca;
  width: 95%;
  height: 90%;
  margin-top: 0px;
  border-radius: 1rem;
}
/* Over lay lock */

/* Thumb container */
.container_thumb_container {
  position: relative;
  width: 100%;
  /* height: 300px; */
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 24px;
}

.thumb-down {
  width: 100%;
  height: 200px;
  background-repeat: no-repeat;
  aspect-ratio: 4/3;
  background-image: url("/images/clean-bold.webp"); /* Replace with the path to your thumb down image */
  background-size: contain;
  /* animation: thumb-down-animation 3s infinite; */
  transform: translateX(100px);
  filter: invert(1);
}

@keyframes thumb-down-animation {
  0% {
    transform: translateX(-10%);
  }
  50% {
    transform: translateX(60%);
  }
  100% {
    transform: translateX(-10%);
  }
}

.no-data {
  position: absolute;
  bottom: -20px;
  left: 0;
  right: 0;
  text-align: center;
}

.error-gif {
  height: 100%;
  background-image: url("/images/output-onlinegiftools.gif"); /* Replace with the path to your thumb down image */
  background-size: contain;
  display: block;
  background-repeat: no-repeat;
  aspect-ratio: 4/3;
}

/* Thumb container */
