.slider-container {
  width: 100%;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
}

.slider-content {
  display: flex;
  scroll-snap-align: start;
}

.slider-item {
  flex-shrink: 0;
  width: 90%;
  height: 100%;
  scroll-snap-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  /* font-size: 24px; */
  margin-left: 1rem;
  margin-right: 1rem;
  transition: background-color 0.3s ease;
}
