.accordion {
  width: 100%;
  /* margin-bottom: 2rem; */
}

.accordion-item {
  /* border-bottom: 1px solid #ccc; */
  /* width: 100%; */
}

.accordion-item-header {
  /* background-color: #eb1616; */
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.accordion-item-header.expanded {
  /* background-color: #14da17; */
}

.accordion-item-content {
  /* padding: 10px; */
  /* margin-left: 20px; */
  /* width: 100%; */
}

.shimmer {
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;

  background: linear-gradient(
    100deg,
    rgba(255, 255, 255, 0) 20%,
    rgba(255, 255, 255, 0.5) 50%,
    rgba(255, 255, 255, 0) 80%
  );

  animation: shimmer 2s infinite linear;
}

@keyframes shimmer {
  from {
    transform: translateX(-200%);
  }
  to {
    transform: translateX(200%);
  }
}
