.accordion {
  width: 100%;
}

.accordion-item {
  /* border-bottom: 1px solid #ccc; */
  /* width: 100%; */
}

.accordion-item-header {
  /* background-color: #eb1616; */
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.accordion-item-header.expanded {
  /* background-color: #14da17; */
}

.accordion-item-content {
  /* padding: 10px; */
  /* margin-left: 20px; */
  /* width: 100%; */
}
