@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --main-background-color: #000;
  background-color: var(--main-background-color);
  --header-background: linear-gradient(
      164deg,
      #333340 0%,
      #1d1c27 44.17%,
      #15131d 100%
    ),
    linear-gradient(
      253deg,
      #19181e 0%,
      #1d1c22 31.83%,
      #23232a 47.09%,
      #3c3c44 92.84%
    );
  height: "100vh";
  color: white;
  --yellow-button-background: linear-gradient(
      159.46deg,
      #c4965b -45.75%,
      #efbe2c -45.75%,
      #b78a51 17.68%,
      #88612a 100.75%
    ),
    linear-gradient(180deg, #24242f 0%, #15131d 100%), #17191c;

  --purple-bet-success-background: rgba(89, 117, 184, 0.43);

  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
:root::-webkit-scrollbar {
  display: none;
}
.remove-scroll-bar {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.remove-scroll-bar::-webkit-scrollbar {
  display: none;
}

.header {
  background-image: var(--header-background);
  border-bottom: 1px solid rgba(83, 83, 83, 0.47);
  box-shadow: 0px 4px 76px 0px rgba(0, 0, 0, 0.03);
  height: 4rem;
  width: 100%;
  min-width: 100%;
  top: 0;
}

.referral {
  background: rgba(240, 239, 239, 0.909);
  box-shadow: 0 8px 32px 0 rgba(140, 143, 193, 0.37);
  backdrop-filter: blur(1px);
  -webkit-backdrop-filter: blur(1px);
  border-radius: 10px;
  border: 1px solid rgba(216, 198, 198, 0.18);
}

body {
  background-image: url("/images/background-icons.png");
  background-repeat: repeat;
  width: 100%;
  /* height: 100vh; */
  min-height: 100vh;
  height: 100%;
}

input {
  background-color: #212128 !important;
  padding-left: 4%;
  border-radius: 10px;
  font-size: 16px;
  outline: none;
  border: 1px solid rgba(198, 209, 220, 0.2);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

/* Checkbox */

/* Checkbox */

.yellowButton {
  background: var(--yellow-button-background);
  border-radius: 5px;
  height: 3rem;
  border-color: var(--yellow-button-background);
}
.BlackButton {
  background-color: rgba(73, 73, 84, 1);
  border-radius: 5px;
  height: 3rem;
  border-color: rgba(73, 73, 84, 1);
}

/* Otp */
.otp-group {
  display: flex;
  width: 80%;
  max-width: 360px;
  column-gap: 10px;
}

.otp-input {
  width: 100%;
  height: 45px;
  border: 1px solid gray;
  border-radius: 5px;
  text-align: center;
  font-size: 32px;
  font-weight: bold;
  line-height: 1;
}
/* Otp */

/* Remove scroll bar */
.all_sports_icon {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none;
}
.all_sports_icon::-webkit-scrollbar {
  display: none;
}
/* Remove scroll bar */

/* Card */
.match_card {
  border-radius: 8px;
  background: linear-gradient(
    303deg,
    rgba(25, 24, 30, 0.482) 0%,
    rgba(29, 28, 34, 0.725) 31.54%,
    rgba(199, 198, 228, 0.087) 73.22%,
    rgba(223, 223, 223, 0.119) 100%
  );
  backdrop-filter: blur(1.5px);
}
/* Card */

/* Betting Box */
.betting-box {
  background-color: rgba(18, 19, 20, 0.6);
  backdrop-filter: blur(1.5px);
  -webkit-backdrop-filter: blur(4.5px);
}
/* Betting Box */

.bottom_layout {
  background-color: linear-gradient(
    328.49deg,
    #19181e -30.84%,
    #1d1c22 10.28%,
    #23232a 59.43%,
    #3c3c44 98.31%
  );
  border-top: 1px solid #494954;
  backdrop-filter: blur(40.5px);
}

.purple-bet-color {
  background-color: var(--purple-bet-success-background);
}

input[type="date"]::-webkit-calendar-picker-indicator {
  font-size: 34px;
  line-height: 1;
  padding-left: 4px;
  padding-right: 4px;
  vertical-align: middle;
  filter: invert(1);
}
