@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --main-background-color: #15131d;
  background-color: var(--main-background-color);
  --header-background: rgba(83, 83, 83, 0.47);
  height: "100vh";
  color: white;
  --yellow-button-background: linear-gradient(
      159.46deg,
      #c4965b -45.75%,
      #efbe2c -45.75%,
      #b78a51 17.68%,
      #88612a 100.75%
    ),
    linear-gradient(180deg, #24242f 0%, #15131d 100%), #17191c;

  --purple-bet-success-background: rgba(89, 117, 184, 0.43);
}

.header {
  background-color: var(--header-background);
  height: 4rem;
  width: 100%;
  min-width: 100%;
  top: 0;
}

.referral {
  background: rgba(240, 239, 239, 0.909);
  box-shadow: 0 8px 32px 0 rgba(140, 143, 193, 0.37);
  backdrop-filter: blur(1px);
  -webkit-backdrop-filter: blur(1px);
  border-radius: 10px;
  border: 1px solid rgba(216, 198, 198, 0.18);
}

body {
  background-image: url("/images/background-icons.png");
  background-repeat: repeat;
  /* width: 100%; */
  height: 100vh;
  min-height: 100%;
}

input {
  opacity: 0.5;
  background-color: #212128;
  padding-left: 4%;
  border-radius: 10px;
  color: white;
}

.yellowButton {
  background: var(--yellow-button-background);
  border-radius: 5px;
  height: 3rem;
  border-color: var(--yellow-button-background);
}
.BlackButton {
  background-color: rgba(73, 73, 84, 1);
  border-radius: 5px;
  height: 3rem;
  border-color: rgba(73, 73, 84, 1);
}

/* Otp */
.otp-group {
  display: flex;
  width: 80%;
  max-width: 360px;
  column-gap: 10px;
}

.otp-input {
  width: 100%;
  height: 60px;
  border: 1px solid #ccc;
  border-radius: 5px;
  text-align: center;
  font-size: 32px;
  font-weight: bold;
  line-height: 1;
}
/* Otp */

/* Remove scroll bar */
.all_sports_icon {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none;
}
.all_sports_icon::-webkit-scrollbar {
  display: none;
}
/* Remove scroll bar */

/* Card */
.match_card {
  background: hsla(0, 8%, 72%, 0.1);
  box-shadow: 0 8px 32px 0 rgba(18, 18, 18, 0.37);
  backdrop-filter: blur(1.5px);
  -webkit-backdrop-filter: blur(4.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}
/* Card */

/* Betting Box */
.betting-box {
  background-color: rgba(18, 19, 20, 0.6);
  backdrop-filter: blur(1.5px);
  -webkit-backdrop-filter: blur(4.5px);
}
/* Betting Box */

.bottom_layout {
  background-color: linear-gradient(
    328.49deg,
    #19181e -30.84%,
    #1d1c22 10.28%,
    #23232a 59.43%,
    #3c3c44 98.31%
  );
  border-top: 1px solid #494954;
  backdrop-filter: blur(4.5px);
}

.purple-bet-color {
  background-color: var(--purple-bet-success-background);
}
